In [1]:
import pandas as pd

# SCOE Initial Per Household Heat Energy Consumption
consumpinit_scoe_gj_per_hh_residential_heat_energy

## Baseline

We take the baseline data  from the [Residential Sector Energy Consumption Estimates, 2015-2021, Louisiana](https://www.eia.gov/state/seds/data.php?incfile=/state/seds/sep_use/res/use_res_LA.html&sid=LA),

In [2]:
df = pd.read_csv('../raw_data/la_heat_energy_res.csv')  
df.head()

,year,coal,natural_gas,diesel,hydrocarbon_gas_liquids,kerosene,gasoline,solid_biomass,electricity
0,2015,0.0,37.7,0.05,1.8,0.05,0,0.8,107.6
1,2016,0.0,32.1,0.05,1.7,0.05,0,0.5,104.6
2,2017,0.0,29.7,0.05,1.7,0.05,0,0.4,100.8
3,2018,0.0,38.6,0.05,1.7,0.05,0,0.6,109.4
4,2019,0.0,36.7,0.05,1.9,0.05,0,0.6,105.7

We add all the columns to obtain the heat energy consumption

In [3]:
df['heat_energy']= df.iloc[:, 1:].sum(axis=1)
df.head()

,year,coal,natural_gas,diesel,hydrocarbon_gas_liquids,kerosene,gasoline,solid_biomass,electricity,heat_energy
0,2015,0.0,37.7,0.05,1.8,0.05,0,0.8,107.6,148.0
1,2016,0.0,32.1,0.05,1.7,0.05,0,0.5,104.6,139.0
2,2017,0.0,29.7,0.05,1.7,0.05,0,0.4,100.8,132.7
3,2018,0.0,38.6,0.05,1.7,0.05,0,0.6,109.4,150.4
4,2019,0.0,36.7,0.05,1.9,0.05,0,0.6,105.7,145.0

Then this electricity consumption amounts are in Trillion Btu so we need to convert it to Jouls.

We have that 1 Trillion Btu = 1.05505585262e+15 Joules and 1 joule = 1e-9 Giga Joules so
1 Trillion Btu = 1.05505585262e+6 Giga Joules

In [4]:
df['heat_energy'] = df['heat_energy']*1055055.85262
df.head()

,year,coal,natural_gas,diesel,hydrocarbon_gas_liquids,kerosene,gasoline,solid_biomass,electricity,heat_energy
0,2015,0.0,37.7,0.05,1.8,0.05,0,0.8,107.6,1.561483e+08
1,2016,0.0,32.1,0.05,1.7,0.05,0,0.5,104.6,1.466528e+08
2,2017,0.0,29.7,0.05,1.7,0.05,0,0.4,100.8,1.400059e+08
3,2018,0.0,38.6,0.05,1.7,0.05,0,0.6,109.4,1.586804e+08
4,2019,0.0,36.7,0.05,1.9,0.05,0,0.6,105.7,1.529831e+08

Now we need this quantity expressed in Tera Joule per household, so it is used the [United States census bureau](https://data.census.gov/table/ACSDP1Y2022.DP02?q=Louisiana%20Families%20and%20Living%20Arrangements) to get the total households estimate per year

In [5]:
df["hh"] = [1727919,1731398,1737123,1737220,1739497,1751956,1783924] 
df.head()

,year,coal,natural_gas,diesel,hydrocarbon_gas_liquids,kerosene,gasoline,solid_biomass,electricity,heat_energy,hh
0,2015,0.0,37.7,0.05,1.8,0.05,0,0.8,107.6,1.561483e+08,1727919
1,2016,0.0,32.1,0.05,1.7,0.05,0,0.5,104.6,1.466528e+08,1731398
2,2017,0.0,29.7,0.05,1.7,0.05,0,0.4,100.8,1.400059e+08,1737123
3,2018,0.0,38.6,0.05,1.7,0.05,0,0.6,109.4,1.586804e+08,1737220
4,2019,0.0,36.7,0.05,1.9,0.05,0,0.6,105.7,1.529831e+08,1739497

Now we can calculate the Electricity consumption per household

In [6]:
df["heat_energy_per_hh"] = df["heat_energy"]/df["hh"]
df.head()

,year,coal,natural_gas,diesel,hydrocarbon_gas_liquids,kerosene,gasoline,solid_biomass,electricity,heat_energy,hh,heat_energy_per_hh
0,2015,0.0,37.7,0.05,1.8,0.05,0,0.8,107.6,1.561483e+08,1727919,90.367816
1,2016,0.0,32.1,0.05,1.7,0.05,0,0.5,104.6,1.466528e+08,1731398,84.701937
2,2017,0.0,29.7,0.05,1.7,0.05,0,0.4,100.8,1.400059e+08,1737123,80.596430
3,2018,0.0,38.6,0.05,1.7,0.05,0,0.6,109.4,1.586804e+08,1737220,91.341569
4,2019,0.0,36.7,0.05,1.9,0.05,0,0.6,105.7,1.529831e+08,1739497,87.946745

Now we can save the input

In [8]:
df[["year","heat_energy_per_hh"]].to_csv('../new_input.csv', index=False,header=False)