In [10]:
# Add GrandParent Folder to System Path

import os
import sys
import inspect

parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)

sys.path

['/Users/mateotrc/Documents/TEC/Lousiana/data/Transportation',
 '/Users/mateotrc/Documents/TEC/Lousiana/data/Transportation/occrate_trns_passenger_per_vehicle_human_powered',
 '/Users/mateotrc/Documents/TEC/Lousiana/data/Transportation',
 '/Users/mateotrc/Documents/TEC/Lousiana/data/Transportation/occrate_trns_passenger_per_vehicle_human_powered',
 '/Users/mateotrc/Documents/TEC/Lousiana/data/Transportation',
 '/Users/mateotrc/Documents/TEC/Lousiana/data/Transportation/occrate_trns_passenger_per_vehicle_human_powered',
 '/Users/mateotrc/opt/anaconda3/envs/sisepuede/lib/python311.zip',
 '/Users/mateotrc/opt/anaconda3/envs/sisepuede/lib/python3.11',
 '/Users/mateotrc/opt/anaconda3/envs/sisepuede/lib/python3.11/lib-dynload',
 '',
 '/Users/mateotrc/opt/anaconda3/envs/sisepuede/lib/python3.11/site-packages']

In [11]:
# All set to 1 person per vehicle

import pandas as pd
import numpy as np

#Variable name
var_name='occrate_trns_passenger_per_vehicle_human_powered'
#### HISTORICAL ######
dato=1
years_hist=np.arange(2010,2024,1)
coun_year=[]
for year in years_hist:
    coun_year.append(['LA','louisiana',year,dato])
df_historical_out = pd.DataFrame(coun_year,columns=['iso_code3','Region', 'Year',var_name])
df_historical_out.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')
df_historical_out

,iso_code3,Region,Year,occrate_trns_passenger_per_vehicle_human_powered
0,LA,louisiana,2010,1
1,LA,louisiana,2011,1
2,LA,louisiana,2012,1
3,LA,louisiana,2013,1
4,LA,louisiana,2014,1
5,LA,louisiana,2015,1
6,LA,louisiana,2016,1
7,LA,louisiana,2017,1
8,LA,louisiana,2018,1
9,LA,louisiana,2019,1
10,LA,louisiana,2020,1
11,LA,louisiana,2021,1
12,LA,louisiana,2022,1
13,LA,louisiana,2023,1

In [12]:
# All set to 1 person per vehicle

import pandas as pd
import numpy as np

#Variable name
#### HISTORICAL ######
dato=1
years_porj=np.arange(max(years_hist)+1,2051,1)
coun_year=[]
for year in years_porj:
    coun_year.append(['LA','louisiana',year,dato])
df_projected_out = pd.DataFrame(coun_year, columns=['iso_code3','Region', 'Year',var_name])
df_projected_out.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')
df_projected_out

,iso_code3,Region,Year,occrate_trns_passenger_per_vehicle_human_powered
0,LA,louisiana,2024,1
1,LA,louisiana,2025,1
2,LA,louisiana,2026,1
3,LA,louisiana,2027,1
4,LA,louisiana,2028,1
5,LA,louisiana,2029,1
6,LA,louisiana,2030,1
7,LA,louisiana,2031,1
8,LA,louisiana,2032,1
9,LA,louisiana,2033,1
10,LA,louisiana,2034,1
11,LA,louisiana,2035,1
12,LA,louisiana,2036,1
13,LA,louisiana,2037,1
14,LA,louisiana,2038,1
15,LA,louisiana,2039,1
16,LA,louisiana,2040,1
17,LA,louisiana,2041,1
18,LA,louisiana,2042,1
19,LA,louisiana,2043,1
20,LA,louisiana,2044,1
21,LA,louisiana,2045,1
22,LA,louisiana,2046,1
23,LA,louisiana,2047,1
24,LA,louisiana,2048,1
25,LA,louisiana,2049,1
26,LA,louisiana,2050,1