In [1]:
import pandas as pd
import numpy as np
import os
import sys
import inspect

parentdir = os.path.abspath('..')
parentdir_name = os.path.basename(parentdir)

grandparentdir=os.path.dirname(parentdir)
ggpdir=os.path.dirname(grandparentdir)

sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)
sys.path.insert(0, ggpdir)
#Variable name
var_name=parentdir_name
var_name

'efficfactor_scoe_heat_energy_commercial_municipal_hydrocarbon_gas_liquids'

In [2]:
# As stated in https://doi.org/10.1016/j.enconman.2024.118284, Table 4 (last visited 10/July/2024) 
# the gas boiler efficiency for Central Heating is 0.94. This will be the historical and projected value.


#### HISTORICAL ######
dato=0.94
years_hist=np.arange(2010,2024,1)
coun_year=[]
for year in years_hist:
    coun_year.append(['LA','louisiana',year,dato])
df_historical_out = pd.DataFrame(coun_year,columns=['iso_code3','Region', 'Year',var_name])
df_historical_out.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')
df_historical_out

,iso_code3,Region,Year,efficfactor_scoe_heat_energy_commercial_municipal_hydrocarbon_gas_liquids
0,LA,louisiana,2010,0.94
1,LA,louisiana,2011,0.94
2,LA,louisiana,2012,0.94
3,LA,louisiana,2013,0.94
4,LA,louisiana,2014,0.94
5,LA,louisiana,2015,0.94
6,LA,louisiana,2016,0.94
7,LA,louisiana,2017,0.94
8,LA,louisiana,2018,0.94
9,LA,louisiana,2019,0.94
10,LA,louisiana,2020,0.94
11,LA,louisiana,2021,0.94
12,LA,louisiana,2022,0.94
13,LA,louisiana,2023,0.94

In [3]:
#Variable name
#### projected ######
years_porj=np.arange(max(years_hist)+1,2051,1)
coun_year=[]

for year in years_porj:
    coun_year.append(['LA','louisiana',year,dato])
df_projected_out = pd.DataFrame(coun_year, columns=['iso_code3','Region', 'Year',var_name])
df_projected_out.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')
df_projected_out

,iso_code3,Region,Year,efficfactor_scoe_heat_energy_commercial_municipal_hydrocarbon_gas_liquids
0,LA,louisiana,2024,0.94
1,LA,louisiana,2025,0.94
2,LA,louisiana,2026,0.94
3,LA,louisiana,2027,0.94
4,LA,louisiana,2028,0.94
5,LA,louisiana,2029,0.94
6,LA,louisiana,2030,0.94
7,LA,louisiana,2031,0.94
8,LA,louisiana,2032,0.94
9,LA,louisiana,2033,0.94
10,LA,louisiana,2034,0.94
11,LA,louisiana,2035,0.94
12,LA,louisiana,2036,0.94
13,LA,louisiana,2037,0.94
14,LA,louisiana,2038,0.94
15,LA,louisiana,2039,0.94
16,LA,louisiana,2040,0.94
17,LA,louisiana,2041,0.94
18,LA,louisiana,2042,0.94
19,LA,louisiana,2043,0.94
20,LA,louisiana,2044,0.94
21,LA,louisiana,2045,0.94
22,LA,louisiana,2046,0.94
23,LA,louisiana,2047,0.94
24,LA,louisiana,2048,0.94
25,LA,louisiana,2049,0.94
26,LA,louisiana,2050,0.94