In [1]:
#Add parent and grandparent folder to sys.path and get variable name
import os
import sys
import inspect

parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)

var_name=os.path.basename(parentdir)

var_name

'frac_trns_mtkm_dem_freight_rail_freight'

In [2]:
import pandas as pd
import numpy as np

df_countries=pd.read_csv("../row_data/Countries_ISO3.csv")
df_countries

                    Country Name ISO3
0                          Aruba  ABW
1    Africa Eastern and Southern  AFE
2                    Afghanistan  AFG
3     Africa Western and Central  AFW
4                         Angola  AGO
..                           ...  ...
261                       Kosovo  XKX
262                  Yemen, Rep.  YEM
263                 South Africa  ZAF
264                       Zambia  ZMB
265                     Zimbabwe  ZWE

[266 rows x 2 columns]

In [3]:
#df_freight=pd.read_csv("../row_data/DP_LIVE_18012023235438219.csv")
df_freight=pd.read_csv("../row_data/imputated_freight_data.csv")

df_freight=df_freight.fillna(0)
df_freight

,Value,LOCATION,TIME,INDICATOR,SUBJECT,MEASURE,FREQUENCY
0,56821.346701,ABW,2011,FREIGHTTRANSP,RAIL,MLN_TONNEKM,A
1,56882.407752,ABW,2012,FREIGHTTRANSP,RAIL,MLN_TONNEKM,A
2,55730.482668,COM,2014,FREIGHTTRANSP,RAIL,MLN_TONNEKM,A
3,55727.715044,COM,2015,FREIGHTTRANSP,RAIL,MLN_TONNEKM,A
4,55722.034132,COM,2016,FREIGHTTRANSP,RAIL,MLN_TONNEKM,A
...,...,...,...,...,...,...,...
7035,7140.640000,SWE,2017,FREIGHTTRANSP,COAST,MLN_TONNEKM,A
7036,7570.200000,SWE,2018,FREIGHTTRANSP,COAST,MLN_TONNEKM,A
7037,7749.770000,SWE,2019,FREIGHTTRANSP,COAST,MLN_TONNEKM,A
7038,7703.300000,SWE,2020,FREIGHTTRANSP,COAST,MLN_TONNEKM,A
7039,7769.227819,SWE,2021,FREIGHTTRANSP,COAST,MLN_TONNEKM,A

In [4]:
df_wbig=pd.read_csv("../row_data/wbig_for_mateo.csv",encoding = "ISO-8859-1")
df_wbig.replace(to_replace='China (P.R. of China and Hong Kong, China)', value='China',inplace=True)
df_wbig.replace(to_replace='Czech Republic', value='Czechia',inplace=True)
df_wbig.replace(to_replace='Korea', value='Korea, Rep.',inplace=True)
df_wbig.replace(to_replace='Republic of Moldova', value='Moldova',inplace=True)
df_wbig.replace(to_replace='Former Yugoslav Republic of Macedonia', value='North Macedonia',inplace=True)
df_wbig.replace(to_replace='Turkey', value='Turkiye',inplace=True)
df_wbig.replace(to_replace='Montenegro', value='MN',inplace=True)
df_wbig

         COUNTRY       FLOW UNIT  TIME     Total
0          World  Transport   TJ  1960        ..
1          World  Transport   TJ  1961        ..
2          World  Transport   TJ  1962        ..
3          World  Transport   TJ  1963        ..
4          World  Transport   TJ  1964        ..
...          ...        ...  ...   ...       ...
10319  Memo: G20  Transport   TJ  2013  75580141
10320  Memo: G20  Transport   TJ  2014  76470958
10321  Memo: G20  Transport   TJ  2015  78859453
10322  Memo: G20  Transport   TJ  2016  80259152
10323  Memo: G20  Transport   TJ  2017        ..

[10324 rows x 5 columns]

In [5]:
#### HISTORICAL ######

#countries=df_countries['Country Name'].values
#ISO3=np.unique(df_countries['ISO3'].values)

ISO3=sorted(set(df_freight['LOCATION'].values))

years=sorted(set((df_freight['TIME'].values)))
#years=range(2011,2017)

coun_year=[]
for iso3 in ISO3:
    country=df_countries[df_countries['ISO3']==iso3]['Country Name'].values[0]
    for year in years:
        coun_year.append([country,iso3,year])
df_historical_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year'])
df_historical_out[var_name]=0
df_historical_out

        Nation iso_code3  Year  frac_trns_mtkm_dem_freight_rail_freight
0        Aruba       ABW  2011                                        0
1        Aruba       ABW  2012                                        0
2        Aruba       ABW  2013                                        0
3        Aruba       ABW  2014                                        0
4        Aruba       ABW  2015                                        0
...        ...       ...   ...                                      ...
1755  Zimbabwe       ZWE  2017                                        0
1756  Zimbabwe       ZWE  2018                                        0
1757  Zimbabwe       ZWE  2019                                        0
1758  Zimbabwe       ZWE  2020                                        0
1759  Zimbabwe       ZWE  2021                                        0

[1760 rows x 4 columns]

In [6]:
np.unique(df_freight['SUBJECT'])

array(['COAST', 'INLAND', 'RAIL', 'ROAD'], dtype=object)

In [7]:
# N=len(np.unique(df_freight['LOCATION'].values))
# mean_value_oecd_rail={}
# mean_value_oecd_total={}
# for y in years:
#     m=0
#     vect=[]
#     vect_total=[]
#     for c in np.unique(df_freight['LOCATION'].values):
#         try:
#             RAIL_data=df_freight.loc[(df_freight['LOCATION']==c) &
#                                  (df_freight['TIME']==y) &
#                                  (df_freight['SUBJECT']=='RAIL')
#                   ]['Value'].values[0]
#             #print('rail')
#         except:
#             RAIL_data=0
            
#         try:
#             ROAD_data=df_freight.loc[(df_freight['LOCATION']==c) &
#                                  (df_freight['TIME']==y) &
#                                  (df_freight['SUBJECT']=='ROAD')
#                   ]['Value'].values[0]
#             #print('road')
#         except:
#             ROAD_data=0
        
#         try:
#             INLAND_data=df_freight.loc[(df_freight['LOCATION']==c) &
#                                  (df_freight['TIME']==y) &
#                                  (df_freight['SUBJECT']=='INLAND')
#                   ]['Value'].values[0]
#             #print('inland')
#         except:
#             INLAND_data=0
#         try:
#             COAST_data=df_freight.loc[(df_freight['LOCATION']==c) &
#                                  (df_freight['TIME']==y) &
#                                  (df_freight['SUBJECT']=='COAST')
#                   ]['Value'].values[0]
#             #print('coast')
#         except:
#             COAST_data=0
        
#         #m+=RAIL_data+ROAD_data+INLAND_data+COAST_data
#         #m+=RAIL_data+ROAD_data+COAST_data
#         total=(float(RAIL_data)+float(ROAD_data)+float(COAST_data))
#         if total>1:
#             vect.append(float(RAIL_data)/total)
#         else: 
#             vect.append(0)
                    
#     vect2=[v for v in vect if v!=0]
#     #mean_value_oecd is quantile 25
#     mean_value_oecd_rail[y]=np.mean(vect)
        
# mean_value_oecd_rail

In [8]:
# mean_value_oecd_perTJ={}
# for y in years:
#     m=0
#     N_TJ=0
#     vect=[]
#     for c in np.unique(df_freight['LOCATION'].values):
#         try:
#             RAIL_data=df_freight.loc[(df_freight['LOCATION']==c) &
#                                  (df_freight['TIME']==y) &
#                                  (df_freight['SUBJECT']=='RAIL')
#                   ]['Value'].values[0]
#             #print('rail')
#         except:
#             RAIL_data=0
            
#         try:
#             ROAD_data=df_freight.loc[(df_freight['LOCATION']==c) &
#                                  (df_freight['TIME']==y) &
#                                  (df_freight['SUBJECT']=='ROAD')
#                   ]['Value'].values[0]
#             #print('road')
#         except:
#             ROAD_data=0
        
#         try:
#             INLAND_data=df_freight.loc[(df_freight['LOCATION']==c) &
#                                  (df_freight['TIME']==y) &
#                                  (df_freight['SUBJECT']=='INLAND')
#                   ]['Value'].values[0]
#             #print('inland')
#         except:
#             INLAND_data=0
#         try:
#             COAST_data=df_freight.loc[(df_freight['LOCATION']==c) &
#                                  (df_freight['TIME']==y) &
#                                  (df_freight['SUBJECT']=='COAST')
#                   ]['Value'].values[0]
#             #print('coast')
#         except:
#             COAST_data=0
            
#         try:

#             country= df_countries.loc[df_countries['ISO3']==c]['Country Name'].values[0]

#             country_TJ= float(df_wbig.loc[(df_wbig['COUNTRY']==country) &
#                                           (df_wbig['TIME']==y)]['Total'].values[0]
#                              )
#             #m+=(RAIL_data+ROAD_data+INLAND_data+COAST_data)/country_TJ
#             vect.append((float(RAIL_data+ROAD_data+INLAND_data+COAST_data))/country_TJ)
#         except:
#             #debug country names with:
#             #print(country)
#             pass
#         vect2=[v for v in vect if v!=0]
#         mean_value_oecd_perTJ[y]=np.mean(vect2)
        
# mean_value_oecd_perTJ

In [9]:
nation_in_df=np.unique(df_freight['LOCATION'].values)

for count,year in zip(df_historical_out['iso_code3'].values,df_historical_out['Year'].values):
    if count in nation_in_df:
        try:
            RAIL_data=df_freight.loc[(df_freight['LOCATION']==count) &
                                 (df_freight['TIME']==year) &
                   (df_freight['SUBJECT']=='RAIL')
                  ]['Value'].values[0]
        except:
            
            RAIL_data=0
        
        try:
            ROAD_data=df_freight.loc[(df_freight['LOCATION']==count) &
                                 (df_freight['TIME']==year) &
                   (df_freight['SUBJECT']=='ROAD')
                  ]['Value'].values[0]
        except:
            ROAD_data=0
        
        try:
            INLAND_data=df_freight.loc[(df_freight['LOCATION']==count) &
                                 (df_freight['TIME']==year) &
                   (df_freight['SUBJECT']=='INLAND')
                  ]['Value'].values[0]
        except:
            INLAND_data=0
        
        try:
            COAST_data=df_freight.loc[(df_freight['LOCATION']==count) &
                                 (df_freight['TIME']==year) &
                   (df_freight['SUBJECT']=='COAST')
                  ]['Value'].values[0]
        except:
            COAST_data=0
        
        total=RAIL_data+ROAD_data+COAST_data
        if total>1:
            dato=RAIL_data/total
        else:
            dato=0
        
        #dato=RAIL_data+ROAD_data+COAST_data
        
        df_historical_out.loc[(df_historical_out['iso_code3'] == count) & 
                        (df_historical_out['Year']== year), var_name] = dato 
    else:
        
        dato=mean_value_oecd_rail[year]
        df_historical_out.loc[(df_historical_out['iso_code3'] == count) & 
                    (df_historical_out['Year']== year), var_name] = dato

df_historical_out

        Nation iso_code3  Year  frac_trns_mtkm_dem_freight_rail_freight
0        Aruba       ABW  2011                                 0.896416
1        Aruba       ABW  2012                                 0.896516
2        Aruba       ABW  2013                                 0.765939
3        Aruba       ABW  2014                                 0.765928
4        Aruba       ABW  2015                                 0.765965
...        ...       ...   ...                                      ...
1755  Zimbabwe       ZWE  2017                                 1.000000
1756  Zimbabwe       ZWE  2018                                 1.000000
1757  Zimbabwe       ZWE  2019                                 1.000000
1758  Zimbabwe       ZWE  2020                                 1.000000
1759  Zimbabwe       ZWE  2021                                 1.000000

[1760 rows x 4 columns]

In [10]:
np.unique(df_historical_out[var_name].values)

array([5.53822718e-04, 2.50203764e-03, 3.40495521e-03, 3.48193036e-03,
       3.80078249e-03, 4.44958775e-03, 4.89818859e-03, 4.94668040e-03,
       4.94741941e-03, 5.08270992e-03, 5.47063087e-03, 5.61083664e-03,
       5.68999988e-03, 5.78111126e-03, 6.48989494e-03, 6.53409091e-03,
       6.54800492e-03, 7.10782088e-03, 7.15976945e-03, 7.36736188e-03,
       7.69704433e-03, 9.26195509e-03, 9.55028817e-03, 1.02361570e-02,
       1.12414101e-02, 1.21081284e-02, 1.22273265e-02, 1.22421686e-02,
       1.24409230e-02, 1.27635454e-02, 1.29701686e-02, 1.32521147e-02,
       1.36721581e-02, 1.37433894e-02, 1.40574216e-02, 1.46554949e-02,
       1.46582241e-02, 1.48089401e-02, 1.49750080e-02, 1.51198645e-02,
       1.54466596e-02, 1.60434535e-02, 1.60774403e-02, 1.69409953e-02,
       1.70896815e-02, 1.71151701e-02, 1.71521105e-02, 1.75304099e-02,
       1.77644561e-02, 1.79226174e-02, 1.93958511e-02, 2.05327414e-02,
       2.12288853e-02, 2.13938787e-02, 2.16056512e-02, 2.19251242e-02,
       2.27487833e-02, 2.36497345e-02, 2.48944010e-02, 2.51590331e-02,
       2.63910465e-02, 2.64045613e-02, 2.65520535e-02, 2.67659024e-02,
       2.76036210e-02, 2.76527178e-02, 2.78691520e-02, 2.86694883e-02,
       2.91931660e-02, 2.95672756e-02, 3.02528915e-02, 3.05728361e-02,
       3.06621962e-02, 3.11305298e-02, 3.16315251e-02, 3.17571784e-02,
       3.25906757e-02, 3.26305951e-02, 3.29659979e-02, 3.31504824e-02,
       3.34314628e-02, 3.36594471e-02, 3.37217015e-02, 3.42167136e-02,
       3.43911243e-02, 3.51488260e-02, 3.59642224e-02, 3.60427366e-02,
       3.60681061e-02, 3.70037494e-02, 3.70536974e-02, 3.72518807e-02,
       3.75065906e-02, 3.85856064e-02, 3.86878692e-02, 3.98384096e-02,
       4.06728133e-02, 4.07428282e-02, 4.08408408e-02, 4.14975378e-02,
       4.15587663e-02, 4.42918019e-02, 4.44040988e-02, 4.50575202e-02,
       4.55364129e-02, 4.58098702e-02, 4.66312545e-02, 4.73656538e-02,
       4.75642143e-02, 4.76492511e-02, 4.81351215e-02, 4.95478416e-02,
       5.01472253e-02, 5.01663004e-02, 5.07610081e-02, 5.07754306e-02,
       5.08924777e-02, 5.16119481e-02, 5.17576073e-02, 5.23987364e-02,
       5.29742797e-02, 5.33789781e-02, 5.45395023e-02, 5.46356826e-02,
       5.48800052e-02, 5.64085643e-02, 5.76004377e-02, 5.83505051e-02,
       5.90615075e-02, 6.03070715e-02, 6.14578007e-02, 6.28771857e-02,
       6.41387817e-02, 6.53856035e-02, 6.62197663e-02, 6.71933745e-02,
       6.75426288e-02, 6.82092195e-02, 6.85958217e-02, 6.88858289e-02,
       6.97795071e-02, 6.99253606e-02, 7.01858094e-02, 7.02854845e-02,
       7.14161781e-02, 7.14188327e-02, 7.16939909e-02, 7.19380999e-02,
       7.27175093e-02, 7.37199009e-02, 7.37712018e-02, 7.38598458e-02,
       7.38808647e-02, 7.43122495e-02, 7.44807205e-02, 7.55075603e-02,
       7.56266697e-02, 7.60237907e-02, 7.70918826e-02, 7.75517082e-02,
       7.75975568e-02, 7.85371308e-02, 7.86514016e-02, 7.90240723e-02,
       8.05596525e-02, 8.15158446e-02, 8.22041353e-02, 8.25712231e-02,
       8.30712762e-02, 8.34832169e-02, 8.35882479e-02, 8.36721878e-02,
       8.38282724e-02, 8.42825552e-02, 8.44413004e-02, 8.44764143e-02,
       8.44768534e-02, 8.45115765e-02, 8.50881855e-02, 8.54240801e-02,
       8.54885942e-02, 8.55119699e-02, 8.55245859e-02, 8.57747818e-02,
       8.58715956e-02, 8.62130520e-02, 8.62401182e-02, 8.63807144e-02,
       8.64138453e-02, 8.71722399e-02, 8.71839039e-02, 8.74436089e-02,
       8.75841059e-02, 8.77833754e-02, 8.82078942e-02, 8.82795385e-02,
       8.84231126e-02, 8.85121459e-02, 8.88526784e-02, 8.93909855e-02,
       8.96848782e-02, 8.97538279e-02, 9.02198520e-02, 9.02687530e-02,
       9.05681731e-02, 9.06835947e-02, 9.07519447e-02, 9.08113704e-02,
       9.14353979e-02, 9.14454169e-02, 9.15625852e-02, 9.22589820e-02,
       9.23682052e-02, 9.25234861e-02, 9.32619411e-02, 9.36640638e-02,
       9.37177176e-02, 9.38455531e-02, 9.39364158e-02, 9.39459451e-02,
       9.40221234e-02, 9.40487076e-02, 9.41815157e-02, 9.45444039e-02,
       9.45821897e-02, 9.47810707e-02, 9.49075478e-02, 9.59491307e-02,
       9.60174735e-02, 9.74306392e-02, 9.75149631e-02, 9.80669667e-02,
       9.80761265e-02, 9.81876377e-02, 9.83078510e-02, 9.86240376e-02,
       9.96648969e-02, 1.00495961e-01, 1.00706780e-01, 1.01169183e-01,
       1.01186097e-01, 1.01388889e-01, 1.02922479e-01, 1.04026744e-01,
       1.04060285e-01, 1.05623950e-01, 1.05739352e-01, 1.06485582e-01,
       1.06525170e-01, 1.06539659e-01, 1.06716505e-01, 1.07151904e-01,
       1.09270823e-01, 1.09658493e-01, 1.10100144e-01, 1.10554530e-01,
       1.11689979e-01, 1.14797133e-01, 1.16340443e-01, 1.16979331e-01,
       1.17059217e-01, 1.17116082e-01, 1.17383449e-01, 1.18252562e-01,
       1.18528735e-01, 1.19813116e-01, 1.20624181e-01, 1.21326087e-01,
       1.21476166e-01, 1.22445851e-01, 1.23023528e-01, 1.23136873e-01,
       1.27191462e-01, 1.30589737e-01, 1.34310084e-01, 1.35254544e-01,
       1.35847710e-01, 1.35852696e-01, 1.38330472e-01, 1.39742881e-01,
       1.39871708e-01, 1.39890165e-01, 1.39925470e-01, 1.40037066e-01,
       1.42614547e-01, 1.42994269e-01, 1.43339763e-01, 1.43827739e-01,
       1.44337453e-01, 1.45015815e-01, 1.46316876e-01, 1.46982953e-01,
       1.47046791e-01, 1.47208763e-01, 1.49001642e-01, 1.49163783e-01,
       1.50117280e-01, 1.50392078e-01, 1.50860574e-01, 1.52790592e-01,
       1.53258766e-01, 1.53847812e-01, 1.54251600e-01, 1.54996932e-01,
       1.55674227e-01, 1.56262968e-01, 1.56321756e-01, 1.57301122e-01,
       1.57399824e-01, 1.57560727e-01, 1.59154137e-01, 1.60011888e-01,
       1.61027895e-01, 1.61181932e-01, 1.61702493e-01, 1.62242283e-01,
       1.63152699e-01, 1.63820998e-01, 1.63926861e-01, 1.64050881e-01,
       1.66440943e-01, 1.67944677e-01, 1.68270318e-01, 1.69701549e-01,
       1.70015576e-01, 1.70573060e-01, 1.71179430e-01, 1.73284009e-01,
       1.74733350e-01, 1.75378448e-01, 1.76138188e-01, 1.76534169e-01,
       1.77133875e-01, 1.78776770e-01, 1.79037833e-01, 1.79701874e-01,
       1.79806823e-01, 1.81033746e-01, 1.81176029e-01, 1.82023191e-01,
       1.82502187e-01, 1.85818984e-01, 1.86478542e-01, 1.86782162e-01,
       1.89615335e-01, 1.93553235e-01, 1.94552691e-01, 1.96206885e-01,
       1.97136087e-01, 2.01238209e-01, 2.01407613e-01, 2.05349179e-01,
       2.06974503e-01, 2.08158529e-01, 2.08243363e-01, 2.08326569e-01,
       2.08887082e-01, 2.08903247e-01, 2.09793321e-01, 2.10372771e-01,
       2.10499050e-01, 2.13067646e-01, 2.13487341e-01, 2.14079868e-01,
       2.14826021e-01, 2.16335822e-01, 2.18012057e-01, 2.18085776e-01,
       2.18339732e-01, 2.19332361e-01, 2.21446577e-01, 2.21767776e-01,
       2.22304383e-01, 2.22680779e-01, 2.22957685e-01, 2.23326810e-01,
       2.24175270e-01, 2.24430292e-01, 2.25663717e-01, 2.26319521e-01,
       2.26810546e-01, 2.28795001e-01, 2.30838607e-01, 2.30959754e-01,
       2.33253885e-01, 2.33498802e-01, 2.34188872e-01, 2.34650954e-01,
       2.36282163e-01, 2.39318257e-01, 2.40194164e-01, 2.41020094e-01,
       2.43139854e-01, 2.43809795e-01, 2.44107691e-01, 2.45724830e-01,
       2.46361682e-01, 2.46575342e-01, 2.46852793e-01, 2.47228983e-01,
       2.48052453e-01, 2.48564235e-01, 2.49712120e-01, 2.50877735e-01,
       2.52060466e-01, 2.52478038e-01, 2.52631487e-01, 2.53214569e-01,
       2.55165111e-01, 2.55481293e-01, 2.55868859e-01, 2.56961226e-01,
       2.58115174e-01, 2.58253285e-01, 2.58272076e-01, 2.58739636e-01,
       2.59474333e-01, 2.59510870e-01, 2.60153712e-01, 2.61388147e-01,
       2.61918383e-01, 2.62965680e-01, 2.63503795e-01, 2.63635935e-01,
       2.64532529e-01, 2.64610401e-01, 2.65617684e-01, 2.68576302e-01,
       2.70970364e-01, 2.73047563e-01, 2.73353924e-01, 2.73451621e-01,
       2.74116605e-01, 2.74141974e-01, 2.75533885e-01, 2.75701475e-01,
       2.76273794e-01, 2.78318985e-01, 2.79201667e-01, 2.79574983e-01,
       2.80090652e-01, 2.80631852e-01, 2.81960657e-01, 2.82392178e-01,
       2.82484891e-01, 2.82758241e-01, 2.83169971e-01, 2.83479494e-01,
       2.84159395e-01, 2.85005193e-01, 2.85441196e-01, 2.85591795e-01,
       2.85827814e-01, 2.85921794e-01, 2.86192302e-01, 2.86860430e-01,
       2.87639328e-01, 2.87746823e-01, 2.87779057e-01, 2.87800429e-01,
       2.88521669e-01, 2.88786517e-01, 2.88894923e-01, 2.91124536e-01,
       2.92240129e-01, 2.92361232e-01, 2.92433075e-01, 2.92950488e-01,
       2.93782813e-01, 2.94582711e-01, 2.95258820e-01, 2.95565181e-01,
       2.95853988e-01, 2.96024793e-01, 2.96141619e-01, 2.97055589e-01,
       2.97075422e-01, 2.97280148e-01, 2.98179533e-01, 2.98958791e-01,
       2.99817050e-01, 3.00081167e-01, 3.00326535e-01, 3.01097968e-01,
       3.02588665e-01, 3.02734109e-01, 3.03076357e-01, 3.03216657e-01,
       3.03627418e-01, 3.03945518e-01, 3.03987290e-01, 3.04598441e-01,
       3.06149290e-01, 3.06207849e-01, 3.06499464e-01, 3.06593714e-01,
       3.07646899e-01, 3.08060048e-01, 3.08330312e-01, 3.08669813e-01,
       3.08704865e-01, 3.08865353e-01, 3.09620434e-01, 3.10027334e-01,
       3.10820798e-01, 3.11290581e-01, 3.12154696e-01, 3.12329021e-01,
       3.13029896e-01, 3.14817683e-01, 3.15143110e-01, 3.15432054e-01,
       3.17966554e-01, 3.18307206e-01, 3.21008900e-01, 3.22297120e-01,
       3.22857031e-01, 3.25151319e-01, 3.26979814e-01, 3.27847403e-01,
       3.28980020e-01, 3.29425743e-01, 3.29730407e-01, 3.30124774e-01,
       3.30788105e-01, 3.30875480e-01, 3.31012873e-01, 3.32195434e-01,
       3.32369942e-01, 3.32752791e-01, 3.32896897e-01, 3.32899783e-01,
       3.36129407e-01, 3.36273373e-01, 3.37636286e-01, 3.38204360e-01,
       3.38209166e-01, 3.40936740e-01, 3.40978113e-01, 3.45635811e-01,
       3.46388292e-01, 3.47304760e-01, 3.48366162e-01, 3.49635406e-01,
       3.50020176e-01, 3.52906774e-01, 3.57222033e-01, 3.57640399e-01,
       3.58423026e-01, 3.61279015e-01, 3.63233510e-01, 3.63649891e-01,
       3.66048971e-01, 3.66781793e-01, 3.67967165e-01, 3.70110187e-01,
       3.71249524e-01, 3.71899978e-01, 3.72076023e-01, 3.75367306e-01,
       3.75379001e-01, 3.75774541e-01, 3.76704500e-01, 3.77378030e-01,
       3.78167091e-01, 3.79159542e-01, 3.79620256e-01, 3.81240949e-01,
       3.84618617e-01, 3.84695500e-01, 3.85270858e-01, 3.85819975e-01,
       3.88281119e-01, 3.89172968e-01, 3.92227038e-01, 3.93410778e-01,
       3.93851639e-01, 3.95622558e-01, 3.95643447e-01, 3.97575340e-01,
       3.97677794e-01, 3.98469046e-01, 3.98911919e-01, 3.99631214e-01,
       4.02207160e-01, 4.02972303e-01, 4.04157106e-01, 4.04248256e-01,
       4.04382743e-01, 4.05772279e-01, 4.06985375e-01, 4.10871464e-01,
       4.11978805e-01, 4.12240437e-01, 4.12417105e-01, 4.12535594e-01,
       4.15261922e-01, 4.15541091e-01, 4.17233461e-01, 4.17952884e-01,
       4.18122611e-01, 4.19285472e-01, 4.20072103e-01, 4.20356007e-01,
       4.20560642e-01, 4.20989551e-01, 4.21206235e-01, 4.21856219e-01,
       4.22136612e-01, 4.22266660e-01, 4.22885594e-01, 4.23416889e-01,
       4.24221353e-01, 4.24466609e-01, 4.24566456e-01, 4.26001175e-01,
       4.27110711e-01, 4.28163859e-01, 4.28475880e-01, 4.29642992e-01,
       4.30868467e-01, 4.31628308e-01, 4.32056871e-01, 4.32359034e-01,
       4.32848084e-01, 4.33290845e-01, 4.33798609e-01, 4.34131992e-01,
       4.34139697e-01, 4.34680363e-01, 4.35095850e-01, 4.35185185e-01,
       4.35858310e-01, 4.37331648e-01, 4.38401193e-01, 4.38598843e-01,
       4.38775105e-01, 4.40896359e-01, 4.40919639e-01, 4.44444444e-01,
       4.45307464e-01, 4.45746364e-01, 4.49772194e-01, 4.53469379e-01,
       4.57011745e-01, 4.60674951e-01, 4.61492268e-01, 4.62552065e-01,
       4.63882371e-01, 4.64723936e-01, 4.65073977e-01, 4.68252166e-01,
       4.68392707e-01, 4.69559645e-01, 4.70382593e-01, 4.71351874e-01,
       4.71413411e-01, 4.71726637e-01, 4.72065849e-01, 4.72509681e-01,
       4.73162455e-01, 4.73187376e-01, 4.74094035e-01, 4.74779130e-01,
       4.76325478e-01, 4.80686695e-01, 4.82757782e-01, 4.83574481e-01,
       4.86697175e-01, 4.87632509e-01, 4.88545058e-01, 4.89008052e-01,
       4.89932886e-01, 4.90536340e-01, 4.93253373e-01, 4.95313590e-01,
       4.95940664e-01, 4.96258835e-01, 4.97959331e-01, 5.00700327e-01,
       5.00900480e-01, 5.02438204e-01, 5.02565794e-01, 5.03358946e-01,
       5.04859532e-01, 5.07654470e-01, 5.09198612e-01, 5.10262693e-01,
       5.11526723e-01, 5.11946654e-01, 5.12759681e-01, 5.13203556e-01,
       5.14649159e-01, 5.16895470e-01, 5.16934656e-01, 5.17455555e-01,
       5.19166151e-01, 5.20789764e-01, 5.20823559e-01, 5.21569168e-01,
       5.22102556e-01, 5.23653054e-01, 5.25546334e-01, 5.26685727e-01,
       5.27342193e-01, 5.28132748e-01, 5.29137327e-01, 5.31636587e-01,
       5.33687795e-01, 5.34354742e-01, 5.38118553e-01, 5.39713248e-01,
       5.43553689e-01, 5.44823720e-01, 5.45050391e-01, 5.45251745e-01,
       5.45603906e-01, 5.52178229e-01, 5.53508895e-01, 5.55893175e-01,
       5.62745565e-01, 5.65271896e-01, 5.66271444e-01, 5.67482870e-01,
       5.68164238e-01, 5.69865939e-01, 5.71428571e-01, 5.71939231e-01,
       5.72219917e-01, 5.72969063e-01, 5.75233535e-01, 5.75789908e-01,
       5.75978168e-01, 5.76110989e-01, 5.76890737e-01, 5.79183670e-01,
       5.84481247e-01, 5.87146266e-01, 5.90765355e-01, 5.90977444e-01,
       5.92114420e-01, 5.92691368e-01, 5.93163607e-01, 5.93322452e-01,
       5.94102912e-01, 5.95469446e-01, 5.95803253e-01, 6.03808582e-01,
       6.07716713e-01, 6.10465116e-01, 6.12301722e-01, 6.15926396e-01,
       6.19238448e-01, 6.19585205e-01, 6.20051864e-01, 6.21323529e-01,
       6.21844676e-01, 6.23457841e-01, 6.24502358e-01, 6.28315585e-01,
       6.28590188e-01, 6.31192291e-01, 6.32928475e-01, 6.33060983e-01,
       6.34070641e-01, 6.35037824e-01, 6.35746509e-01, 6.37453184e-01,
       6.38308768e-01, 6.38323246e-01, 6.38549718e-01, 6.38844601e-01,
       6.42245741e-01, 6.42296960e-01, 6.42674611e-01, 6.43827074e-01,
       6.45389230e-01, 6.49999898e-01, 6.51829994e-01, 6.52378267e-01,
       6.54403769e-01, 6.57221262e-01, 6.59532980e-01, 6.65910564e-01,
       6.67072017e-01, 6.67897328e-01, 6.68641896e-01, 6.71285604e-01,
       6.74681020e-01, 6.75142857e-01, 6.83753943e-01, 6.85085692e-01,
       6.86979625e-01, 6.89339965e-01, 6.92852426e-01, 6.95423248e-01,
       6.96499079e-01, 7.00070311e-01, 7.00313876e-01, 7.01334371e-01,
       7.02834589e-01, 7.03781641e-01, 7.04244177e-01, 7.05523458e-01,
       7.06038244e-01, 7.08128399e-01, 7.17672351e-01, 7.32608027e-01,
       7.35356804e-01, 7.38617833e-01, 7.39800544e-01, 7.51322345e-01,
       7.52391460e-01, 7.56143145e-01, 7.58728881e-01, 7.60400596e-01,
       7.65918757e-01, 7.65927810e-01, 7.65934426e-01, 7.65939161e-01,
       7.65949789e-01, 7.65965027e-01, 7.66173126e-01, 7.73813057e-01,
       7.88170803e-01, 7.89534460e-01, 7.92240281e-01, 8.00742395e-01,
       8.00945016e-01, 8.02399308e-01, 8.02583704e-01, 8.04102843e-01,
       8.04244440e-01, 8.05519803e-01, 8.06841280e-01, 8.06922527e-01,
       8.07840989e-01, 8.12681696e-01, 8.21536237e-01, 8.21693798e-01,
       8.21764230e-01, 8.22334292e-01, 8.28203671e-01, 8.35619113e-01,
       8.41511935e-01, 8.50220706e-01, 8.54605378e-01, 8.65130444e-01,
       8.83926989e-01, 8.89546402e-01, 8.93350727e-01, 8.94901685e-01,
       8.95333765e-01, 8.96416456e-01, 8.96516142e-01, 8.96698720e-01,
       8.98490183e-01, 8.99911529e-01, 9.00027213e-01, 9.00138627e-01,
       9.01342476e-01, 9.02354195e-01, 9.03542900e-01, 9.03674580e-01,
       9.04779011e-01, 9.06030226e-01, 9.19748925e-01, 9.20087581e-01,
       9.20465197e-01, 9.21226737e-01, 9.22867530e-01, 9.24414140e-01,
       9.25102036e-01, 9.26041197e-01, 9.26805359e-01, 9.27340091e-01,
       9.27516918e-01, 9.27588890e-01, 9.27676783e-01, 9.48696506e-01,
       9.62581517e-01, 9.79748830e-01, 9.79863437e-01, 9.80502453e-01,
       9.81996736e-01, 9.83472487e-01, 9.84254981e-01, 9.84271502e-01,
       9.85495651e-01, 9.85876750e-01, 9.86208380e-01, 9.86573431e-01,
       9.91260191e-01, 9.91290332e-01, 9.91320149e-01, 9.91348555e-01,
       9.98170397e-01, 9.98171484e-01, 9.98172563e-01, 9.98172592e-01,
       1.00000000e+00])

In [11]:
#### Projected ######

#countries=df_countries['Country Name'].values
ISO3=sorted(set(df_freight['LOCATION'].values))

years=sorted(set((df_freight['TIME'].values)))
years2=range(max(years)+1,2051)

coun_year=[]
for iso3 in ISO3:
    country=df_countries[df_countries['ISO3']==iso3]['Country Name'].values[0]
    for year in years2:
        coun_year.append([country,iso3,year])
df_projected_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year'])
df_projected_out[var_name]=0
df_projected_out

        Nation iso_code3  Year  frac_trns_mtkm_dem_freight_rail_freight
0        Aruba       ABW  2022                                        0
1        Aruba       ABW  2023                                        0
2        Aruba       ABW  2024                                        0
3        Aruba       ABW  2025                                        0
4        Aruba       ABW  2026                                        0
...        ...       ...   ...                                      ...
4635  Zimbabwe       ZWE  2046                                        0
4636  Zimbabwe       ZWE  2047                                        0
4637  Zimbabwe       ZWE  2048                                        0
4638  Zimbabwe       ZWE  2049                                        0
4639  Zimbabwe       ZWE  2050                                        0

[4640 rows x 4 columns]

In [12]:
for count,year in zip(df_projected_out['Nation'].values,df_projected_out['Year'].values):
    df_dato=df_historical_out[(df_historical_out['Nation']==count) & 
                               (df_historical_out['Year']==max(years))]
    dato=df_dato[var_name].values[0]
    df_projected_out.loc[(df_projected_out['Nation'] == count) & 
                        (df_projected_out['Year']== year), var_name] = dato
df_projected_out

        Nation iso_code3  Year  frac_trns_mtkm_dem_freight_rail_freight
0        Aruba       ABW  2022                                 0.896699
1        Aruba       ABW  2023                                 0.896699
2        Aruba       ABW  2024                                 0.896699
3        Aruba       ABW  2025                                 0.896699
4        Aruba       ABW  2026                                 0.896699
...        ...       ...   ...                                      ...
4635  Zimbabwe       ZWE  2046                                 1.000000
4636  Zimbabwe       ZWE  2047                                 1.000000
4637  Zimbabwe       ZWE  2048                                 1.000000
4638  Zimbabwe       ZWE  2049                                 1.000000
4639  Zimbabwe       ZWE  2050                                 1.000000

[4640 rows x 4 columns]

In [13]:
df_historical_out.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')

In [14]:
df_projected_out.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')