In [1]:
#Add parent and grandparent folder to sys.path and get variable name
import os
import sys
import inspect

parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)

var_name=os.path.basename(parentdir)

var_name

'deminit_trde_regional_per_capita_passenger_km'

In [2]:
import pandas as pd
import numpy as np

In [23]:
# Regional data is the national value
# Obtained from https://data.oecd.org/transport/passenger-transport.htm#indicator-chart (last visited 01/June/2024)

df_pass=pd.read_csv("../row_data/DP_LIVE_18012023221837518.csv")
df_pass=df_pass.fillna(0)
df_pass

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,PASSTRANSP,RAIL,MLN_PKM,A,1970,12473.066624,0
1,AUS,PASSTRANSP,RAIL,MLN_PKM,A,1971,12674.783011,0
2,AUS,PASSTRANSP,RAIL,MLN_PKM,A,1972,11616.093761,0
3,AUS,PASSTRANSP,RAIL,MLN_PKM,A,1973,11474.354465,0
4,AUS,PASSTRANSP,RAIL,MLN_PKM,A,1974,10520.293577,0
...,...,...,...,...,...,...,...,...
5496,UZB,PASSTRANSP,ROAD,MLN_PKM,A,2016,114910.267100,0
5497,UZB,PASSTRANSP,ROAD,MLN_PKM,A,2017,117659.567000,0
5498,UZB,PASSTRANSP,ROAD,MLN_PKM,A,2018,121599.489300,0
5499,UZB,PASSTRANSP,ROAD,MLN_PKM,A,2019,124141.200000,0
5500,UZB,PASSTRANSP,ROAD,MLN_PKM,A,2020,113200.000000,0

In [4]:
df_pass_USA = df_pass[df_pass['LOCATION']=='USA']
df_pass_USA

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
2409,USA,PASSTRANSP,RAIL,MLN_PKM,A,1979,1.877004e+04,0
2410,USA,PASSTRANSP,RAIL,MLN_PKM,A,1980,2.207920e+04,0
2411,USA,PASSTRANSP,RAIL,MLN_PKM,A,1981,2.186561e+04,0
2412,USA,PASSTRANSP,RAIL,MLN_PKM,A,1982,2.274636e+04,0
2413,USA,PASSTRANSP,RAIL,MLN_PKM,A,1983,2.349039e+04,0
...,...,...,...,...,...,...,...,...
4936,USA,PASSTRANSP,INLAND,MLN_PKM,A,2013,6.198646e+06,0
4937,USA,PASSTRANSP,INLAND,MLN_PKM,A,2014,6.218169e+06,0
4938,USA,PASSTRANSP,INLAND,MLN_PKM,A,2015,6.429086e+06,0
4939,USA,PASSTRANSP,INLAND,MLN_PKM,A,2016,6.547948e+06,0
4940,USA,PASSTRANSP,INLAND,MLN_PKM,A,2017,6.591557e+06,0

In [17]:
# historical data

years_hist = range(2010,2017+1)
df_pass_USA_hist = pd.DataFrame(years_hist,columns=['Year'])

df_pass_USA_hist ['RAIL'] = df_pass_USA[(df_pass_USA['TIME']>= 2010) & 
                        (df_pass_USA['TIME']<= 2017) &
                        (df_pass_USA['SUBJECT']== 'RAIL')]['Value'].values

df_pass_USA_hist ['ROAD'] = df_pass_USA[(df_pass_USA['TIME']>= 2010) & 
                        (df_pass_USA['TIME']<= 2017) &
                        (df_pass_USA['SUBJECT']== 'ROAD')]['Value'].values

df_pass_USA_hist ['INLAND'] = df_pass_USA[(df_pass_USA['TIME']>= 2010) & 
                        (df_pass_USA['TIME']<= 2017) &
                        (df_pass_USA['SUBJECT']== 'INLAND')]['Value'].values

df_pass_USA_hist ['Total_PKm'] = df_pass_USA_hist['RAIL'] + df_pass_USA_hist['ROAD'] + df_pass_USA_hist['INLAND'] 

df_pass_USA_hist

   Year          RAIL          ROAD        INLAND     Total_PKm
0  2010  31871.671919  5.989833e+06  6.021705e+06  1.204341e+07
1  2011  32579.510201  6.046500e+06  6.079080e+06  1.215816e+07
2  2012  34125.700655  6.121616e+06  6.155742e+06  1.231148e+07
3  2013  36047.104941  6.162599e+06  6.198646e+06  1.239729e+07
4  2014  36393.106489  6.181776e+06  6.218169e+06  1.243634e+07
5  2015  36043.875681  6.393042e+06  6.429086e+06  1.285817e+07
6  2016  35892.157356  6.512056e+06  6.547948e+06  1.309590e+07
7  2017  33256.000000  6.558301e+06  6.591557e+06  1.318311e+07

In [9]:
# Population data

df_hist_pop_rural = pd.read_csv('../../../SocioEconomic/population_gnrl_rural/input_to_sisepuede/historical/population_gnrl_rural.csv')
df_proj_pop_rural = pd.read_csv('../../../SocioEconomic/population_gnrl_rural/input_to_sisepuede/projected/population_gnrl_rural.csv')
df_pop_rural_all = pd.concat([df_hist_pop_rural,df_proj_pop_rural])

df_hist_pop_urban = pd.read_csv('../../../SocioEconomic/population_gnrl_urban/input_to_sisepuede/historical/population_gnrl_urban.csv')
df_proj_pop_urban = pd.read_csv('../../../SocioEconomic/population_gnrl_urban/input_to_sisepuede/projected/population_gnrl_urban.csv')
df_pop_urban_all = pd.concat([df_hist_pop_urban,df_proj_pop_urban])

df_pop_all = df_pop_rural_all.copy()
df_pop_all['population_gnrl_urban'] = df_pop_urban_all['population_gnrl_urban']
df_pop_all['population_all'] = df_pop_all['population_gnrl_urban'] + df_pop_all['population_gnrl_rural']

df_pop_all

,iso_code3,Region,Year,population_gnrl_rural,population_gnrl_urban,population_all
0,LA,louisiana,1910,1.242291e+06,4.140970e+05,1656388.0
1,LA,louisiana,1911,1.244898e+06,4.257023e+05,1670600.1
2,LA,louisiana,1912,1.247368e+06,4.374446e+05,1684812.2
3,LA,louisiana,1913,1.249700e+06,4.493240e+05,1699024.3
4,LA,louisiana,1914,1.251896e+06,4.613403e+05,1713236.4
...,...,...,...,...,...,...
25,LA,louisiana,2046,6.789196e+05,4.766959e+06,5445879.0
26,LA,louisiana,2047,6.478778e+05,4.819445e+06,5467323.0
27,LA,louisiana,2048,6.165630e+05,4.872128e+06,5488691.0
28,LA,louisiana,2049,5.849827e+05,4.925058e+06,5510041.0
29,LA,louisiana,2050,5.531423e+05,4.978281e+06,5531423.0

In [18]:
# Merge data

df_all_hist = df_pop_all[(df_pop_all['Year']>= 2010) & (df_pop_all['Year']<= 2017)]
df_all_hist['Total_PKm'] = df_pass_USA_hist['Total_PKm'].values

df_all_hist[var_name] = df_all_hist['Total_PKm']*1e6/df_all_hist['population_all']

df_all_hist

/var/folders/1d/nrx88sbx37qdy3x76g9yk83r0000gn/T/ipykernel_80495/2728085005.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all_hist['Total_PKm'] = df_pass_USA_hist['Total_PKm'].values
/var/folders/1d/nrx88sbx37qdy3x76g9yk83r0000gn/T/ipykernel_80495/2728085005.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all_hist[var_name] = df_all_hist['Total_PKm']*1e6/df_all_hist['population_all']

,iso_code3,Region,Year,population_gnrl_rural,population_gnrl_urban,population_all,Total_PKm,deminit_trde_regional_per_capita_passenger_km
100,LA,louisiana,2010,1.214944e+06,3.318428e+06,4533372.0,1.204341e+07,2.656612e+06
101,LA,louisiana,2011,1.226005e+06,3.319805e+06,4545810.5,1.215816e+07,2.674586e+06
102,LA,louisiana,2012,1.237109e+06,3.321140e+06,4558249.0,1.231148e+07,2.700924e+06
103,LA,louisiana,2013,1.248255e+06,3.322433e+06,4570687.5,1.239729e+07,2.712347e+06
104,LA,louisiana,2014,1.259443e+06,3.323683e+06,4583126.0,1.243634e+07,2.713506e+06
105,LA,louisiana,2015,1.270674e+06,3.324891e+06,4595564.5,1.285817e+07,2.797953e+06
106,LA,louisiana,2016,1.281946e+06,3.326057e+06,4608003.0,1.309590e+07,2.841990e+06
107,LA,louisiana,2017,1.293262e+06,3.327180e+06,4620441.5,1.318311e+07,2.853215e+06

In [19]:
df_historical = df_all_hist[['Region','iso_code3','Year',var_name]]
df_historical

        Region iso_code3  Year  deminit_trde_regional_per_capita_passenger_km
100  louisiana        LA  2010                                   2.656612e+06
101  louisiana        LA  2011                                   2.674586e+06
102  louisiana        LA  2012                                   2.700924e+06
103  louisiana        LA  2013                                   2.712347e+06
104  louisiana        LA  2014                                   2.713506e+06
105  louisiana        LA  2015                                   2.797953e+06
106  louisiana        LA  2016                                   2.841990e+06
107  louisiana        LA  2017                                   2.853215e+06

In [21]:
#Projected data will be taken as the last historical value

years_proj = range(max(years_hist)+1,2050+1)
df_projected = pd.DataFrame(years_proj,columns=['Year'])
df_projected['iso_code3'] = 'LA'
df_projected['Region'] = 'louisiana'
df_projected[var_name] = df_historical[df_historical['Year']==max(years_hist)][var_name].values[0]
df_projected

    Year iso_code3     Region  deminit_trde_regional_per_capita_passenger_km
0   2018        LA  louisiana                                   2.853215e+06
1   2019        LA  louisiana                                   2.853215e+06
2   2020        LA  louisiana                                   2.853215e+06
3   2021        LA  louisiana                                   2.853215e+06
4   2022        LA  louisiana                                   2.853215e+06
5   2023        LA  louisiana                                   2.853215e+06
6   2024        LA  louisiana                                   2.853215e+06
7   2025        LA  louisiana                                   2.853215e+06
8   2026        LA  louisiana                                   2.853215e+06
9   2027        LA  louisiana                                   2.853215e+06
10  2028        LA  louisiana                                   2.853215e+06
11  2029        LA  louisiana                                   2.853215e+06
12  2030        LA  louisiana                                   2.853215e+06
13  2031        LA  louisiana                                   2.853215e+06
14  2032        LA  louisiana                                   2.853215e+06
15  2033        LA  louisiana                                   2.853215e+06
16  2034        LA  louisiana                                   2.853215e+06
17  2035        LA  louisiana                                   2.853215e+06
18  2036        LA  louisiana                                   2.853215e+06
19  2037        LA  louisiana                                   2.853215e+06
20  2038        LA  louisiana                                   2.853215e+06
21  2039        LA  louisiana                                   2.853215e+06
22  2040        LA  louisiana                                   2.853215e+06
23  2041        LA  louisiana                                   2.853215e+06
24  2042        LA  louisiana                                   2.853215e+06
25  2043        LA  louisiana                                   2.853215e+06
26  2044        LA  louisiana                                   2.853215e+06
27  2045        LA  louisiana                                   2.853215e+06
28  2046        LA  louisiana                                   2.853215e+06
29  2047        LA  louisiana                                   2.853215e+06
30  2048        LA  louisiana                                   2.853215e+06
31  2049        LA  louisiana                                   2.853215e+06
32  2050        LA  louisiana                                   2.853215e+06

In [22]:
# Write data
df_historical.to_csv(grandparentdir+'/'+var_name+'/input_to_sisepuede/historical/'+var_name+'.csv')
df_projected.to_csv(grandparentdir+'/'+var_name+'/input_to_sisepuede/projected/'+var_name+'.csv')