In [1]:
# Add GrandParent Folder to System Path

import os
import sys
import inspect

parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)

sys.path

['/Users/mateotrc/Documents/TEC/Lousiana/data/Transportation',
 '/Users/mateotrc/Documents/TEC/Lousiana/data/Transportation/occrate_trns_passenger_per_vehicle_rail_passenger',
 '/Users/mateotrc/opt/anaconda3/envs/sisepuede/lib/python311.zip',
 '/Users/mateotrc/opt/anaconda3/envs/sisepuede/lib/python3.11',
 '/Users/mateotrc/opt/anaconda3/envs/sisepuede/lib/python3.11/lib-dynload',
 '',
 '/Users/mateotrc/opt/anaconda3/envs/sisepuede/lib/python3.11/site-packages']

In [2]:
# Acording to a previous study with Eropean data, the the average rail occupacy rate is 132.5

import pandas as pd
import numpy as np

#Variable name
var_name='occrate_trns_passenger_per_vehicle_rail_passenger'
#### HISTORICAL ######
dato=132.5
years_hist=np.arange(2010,2024,1)
coun_year=[]
for year in years_hist:
    coun_year.append(['LA','louisiana',year,dato])
df_historical_out = pd.DataFrame(coun_year,columns=['iso_code3','Region', 'Year',var_name])
df_historical_out.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')
df_historical_out

,iso_code3,Region,Year,occrate_trns_passenger_per_vehicle_rail_passenger
0,LA,louisiana,2010,132.5
1,LA,louisiana,2011,132.5
2,LA,louisiana,2012,132.5
3,LA,louisiana,2013,132.5
4,LA,louisiana,2014,132.5
5,LA,louisiana,2015,132.5
6,LA,louisiana,2016,132.5
7,LA,louisiana,2017,132.5
8,LA,louisiana,2018,132.5
9,LA,louisiana,2019,132.5
10,LA,louisiana,2020,132.5
11,LA,louisiana,2021,132.5
12,LA,louisiana,2022,132.5
13,LA,louisiana,2023,132.5

In [3]:


#Variable name
#### projected ######
years_porj=np.arange(max(years_hist)+1,2051,1)
for year in years_porj:
    coun_year.append(['LA','louisiana',year,dato])
df_projected_out = pd.DataFrame(coun_year, columns=['iso_code3','Region', 'Year',var_name])
df_projected_out.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')
df_projected_out

,iso_code3,Region,Year,occrate_trns_passenger_per_vehicle_rail_passenger
0,LA,louisiana,2010,132.5
1,LA,louisiana,2011,132.5
2,LA,louisiana,2012,132.5
3,LA,louisiana,2013,132.5
4,LA,louisiana,2014,132.5
5,LA,louisiana,2015,132.5
6,LA,louisiana,2016,132.5
7,LA,louisiana,2017,132.5
8,LA,louisiana,2018,132.5
9,LA,louisiana,2019,132.5
10,LA,louisiana,2020,132.5
11,LA,louisiana,2021,132.5
12,LA,louisiana,2022,132.5
13,LA,louisiana,2023,132.5
14,LA,louisiana,2024,132.5
15,LA,louisiana,2025,132.5
16,LA,louisiana,2026,132.5
17,LA,louisiana,2027,132.5
18,LA,louisiana,2028,132.5
19,LA,louisiana,2029,132.5
20,LA,louisiana,2030,132.5
21,LA,louisiana,2031,132.5
22,LA,louisiana,2032,132.5
23,LA,louisiana,2033,132.5
24,LA,louisiana,2034,132.5
25,LA,louisiana,2035,132.5
26,LA,louisiana,2036,132.5
27,LA,louisiana,2037,132.5
28,LA,louisiana,2038,132.5
29,LA,louisiana,2039,132.5
30,LA,louisiana,2040,132.5
31,LA,louisiana,2041,132.5
32,LA,louisiana,2042,132.5
33,LA,louisiana,2043,132.5
34,LA,louisiana,2044,132.5
35,LA,louisiana,2045,132.5
36,LA,louisiana,2046,132.5
37,LA,louisiana,2047,132.5
38,LA,louisiana,2048,132.5
39,LA,louisiana,2049,132.5
40,LA,louisiana,2050,132.5