In [1]:
# Add Parent Folder to System Path

# Add GrandParent Folder to System Path

import os
import sys
import inspect

parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)

sys.path


####

import pandas as pd
import numpy as np

#Variable name
var_name='occrate_trns_passenger_per_vehicle_road_light'
#DATAFRAMES
df_countries=pd.read_csv("../row_data/Countries_ISO3.csv")
df_data=pd.read_excel ('../row_data/2009 29 - Occupancy rates of passenger.xls',sheet_name='TERM29_BD_Car')
df_data

,Unnamed: 0,Car occupancy - passengers per vehicle,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Country,1995/1998,1998/2000,2002.00,2003,2004.000,2005.00,2006.000,2007.000,2008.00,Comments
2,CH,Switzerland,NaN,NaN,NaN,NaN,NaN,1.57,NaN,NaN,NaN,NaN
3,SK (max),Slovak Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00,maximum
4,SK,Slovak Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.90,minimum
5,DK,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.54,average for 2001
6,NO,Norway,NaN,NaN,NaN,NaN,1.730,1.71,1.700,1.700,NaN,NaN
7,DE,Germany,NaN,NaN,NaN,NaN,NaN,1.50,NaN,NaN,NaN,NaN
8,CZ,Czech Republic,NaN,NaN,NaN,NaN,1.900,1.84,1.780,1.500,1.41,the City of Prague
9,AT,Austria,NaN,NaN,NaN,NaN,1.190,1.19,1.180,1.180,NaN,NaN
10,ES,Spain,NaN,NaN,NaN,NaN,1.740,1.74,1.740,1.740,NaN,NaN
11,IT,Italy,NaN,NaN,NaN,NaN,1.720,1.69,1.680,1.670,NaN,NaN
12,HU (Budapest),Hungary,NaN,NaN,NaN,NaN,1.950,1.93,1.910,1.890,1.87,Budapest
13,HU,Hungary,NaN,NaN,NaN,NaN,1.900,1.89,1.870,1.850,1.83,town
14,HU,Hungary,NaN,NaN,NaN,NaN,1.770,1.75,1.730,1.720,1.70,village
15,UK,UK*,1.6,1.58,1.59,1.58,1.570,1.58,1.580,1.560,1.60,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,Source: Car occupancy data - TRL/EEA Questionn...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,*The occupancy figures are based on data from ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,http://www.dft.gov.uk/adobepdf/162469/221412/2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,2004.000,2005.00,2006.000,2007.000,2008.00,NaN
23,NaN,NaN,NaN,NaN,NaN,Switzerland,NaN,1.57,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,Slovak Republic,NaN,NaN,NaN,NaN,2.00,NaN
25,NaN,NaN,NaN,NaN,NaN,Czech Republic,1.900,1.84,1.780,1.500,1.41,NaN
26,NaN,NaN,NaN,NaN,NaN,Hungary,1.950,1.93,1.910,1.890,1.87,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,Average,1.925,1.78,1.845,1.695,1.76,NaN

In [2]:
df_data_copy=df_data
new_header = df_data.iloc[1] #grab the first row for the header
df_data_copy = df_data[3:] #take the data less the header row
df_data_copy.columns = new_header #set the header row as the df header
df_data_copy.fillna(0)

/var/folders/1d/nrx88sbx37qdy3x76g9yk83r0000gn/T/ipykernel_14172/1120102411.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_data_copy.fillna(0)

1,NaN,Country,1995/1998,1998/2000,2002.0,2003,2004.0,2005.0,2006.0,2007.0,2008.0,Comments
3,SK (max),Slovak Republic,0.0,0.00,0.00,0,0.000,0.00,0.000,0.000,2.00,maximum
4,SK,Slovak Republic,0.0,0.00,0.00,0,0.000,0.00,0.000,0.000,1.90,minimum
5,DK,Denmark,0.0,0.00,0.00,0,0.000,0.00,0.000,0.000,1.54,average for 2001
6,NO,Norway,0.0,0.00,0.00,0,1.730,1.71,1.700,1.700,0.00,0
7,DE,Germany,0.0,0.00,0.00,0,0.000,1.50,0.000,0.000,0.00,0
8,CZ,Czech Republic,0.0,0.00,0.00,0,1.900,1.84,1.780,1.500,1.41,the City of Prague
9,AT,Austria,0.0,0.00,0.00,0,1.190,1.19,1.180,1.180,0.00,0
10,ES,Spain,0.0,0.00,0.00,0,1.740,1.74,1.740,1.740,0.00,0
11,IT,Italy,0.0,0.00,0.00,0,1.720,1.69,1.680,1.670,0.00,0
12,HU (Budapest),Hungary,0.0,0.00,0.00,0,1.950,1.93,1.910,1.890,1.87,Budapest
13,HU,Hungary,0.0,0.00,0.00,0,1.900,1.89,1.870,1.850,1.83,town
14,HU,Hungary,0.0,0.00,0.00,0,1.770,1.75,1.730,1.720,1.70,village
15,UK,UK*,1.6,1.58,1.59,1.58,1.570,1.58,1.580,1.560,1.60,0
16,0,0,0.0,0.00,0.00,0,0.000,0.00,0.000,0.000,0.00,0
17,0,Source: Car occupancy data - TRL/EEA Questionn...,0.0,0.00,0.00,0,0.000,0.00,0.000,0.000,0.00,0
18,0,*The occupancy figures are based on data from ...,0.0,0.00,0.00,0,0.000,0.00,0.000,0.000,0.00,0
19,0,http://www.dft.gov.uk/adobepdf/162469/221412/2...,0.0,0.00,0.00,0,0.000,0.00,0.000,0.000,0.00,0
20,0,0,0.0,0.00,0.00,0,0.000,0.00,0.000,0.000,0.00,0
21,0,0,0.0,0.00,0.00,0,0.000,0.00,0.000,0.000,0.00,0
22,0,0,0.0,0.00,0.00,0,2004.000,2005.00,2006.000,2007.000,2008.00,0
23,0,0,0.0,0.00,0.00,Switzerland,0.000,1.57,0.000,0.000,0.00,0
24,0,0,0.0,0.00,0.00,Slovak Republic,0.000,0.00,0.000,0.000,2.00,0
25,0,0,0.0,0.00,0.00,Czech Republic,1.900,1.84,1.780,1.500,1.41,0
26,0,0,0.0,0.00,0.00,Hungary,1.950,1.93,1.910,1.890,1.87,0
27,0,0,0.0,0.00,0.00,0,0.000,0.00,0.000,0.000,0.00,0
28,0,0,0.0,0.00,0.00,Average,1.925,1.78,1.845,1.695,1.76,0

In [4]:
#### HISTORICAL ######

## Direct calculation of the available data lead to a avrerage value of 1.6808 passengers per vehicle

#Variable name
var_name='occrate_trns_passenger_per_vehicle_road_light'
#### HISTORICAL ######
dato=1.6808
years_hist=np.arange(2010,2024,1)
coun_year=[]
for year in years_hist:
    coun_year.append(['LA','louisiana',year,dato])
df_historical_out = pd.DataFrame(coun_year,columns=['iso_code3','Region', 'Year',var_name])
df_historical_out.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')
df_historical_out

   iso_code3     Region  Year  occrate_trns_passenger_per_vehicle_road_light
0         LA  louisiana  2010                                         1.6808
1         LA  louisiana  2011                                         1.6808
2         LA  louisiana  2012                                         1.6808
3         LA  louisiana  2013                                         1.6808
4         LA  louisiana  2014                                         1.6808
5         LA  louisiana  2015                                         1.6808
6         LA  louisiana  2016                                         1.6808
7         LA  louisiana  2017                                         1.6808
8         LA  louisiana  2018                                         1.6808
9         LA  louisiana  2019                                         1.6808
10        LA  louisiana  2020                                         1.6808
11        LA  louisiana  2021                                         1.6808
12        LA  louisiana  2022                                         1.6808
13        LA  louisiana  2023                                         1.6808

In [12]:
#Variable name
#### projected ######
years_porj=np.arange(max(years_hist)+1,2051,1)
coun_year=[]

for year in years_porj:
    coun_year.append(['LA','louisiana',year,dato])
df_projected_out = pd.DataFrame(coun_year, columns=['iso_code3','Region', 'Year',var_name])
df_projected_out.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')
df_projected_out

   iso_code3     Region  Year  occrate_trns_passenger_per_vehicle_road_light
0         LA  louisiana  2024                                         1.6808
1         LA  louisiana  2025                                         1.6808
2         LA  louisiana  2026                                         1.6808
3         LA  louisiana  2027                                         1.6808
4         LA  louisiana  2028                                         1.6808
5         LA  louisiana  2029                                         1.6808
6         LA  louisiana  2030                                         1.6808
7         LA  louisiana  2031                                         1.6808
8         LA  louisiana  2032                                         1.6808
9         LA  louisiana  2033                                         1.6808
10        LA  louisiana  2034                                         1.6808
11        LA  louisiana  2035                                         1.6808
12        LA  louisiana  2036                                         1.6808
13        LA  louisiana  2037                                         1.6808
14        LA  louisiana  2038                                         1.6808
15        LA  louisiana  2039                                         1.6808
16        LA  louisiana  2040                                         1.6808
17        LA  louisiana  2041                                         1.6808
18        LA  louisiana  2042                                         1.6808
19        LA  louisiana  2043                                         1.6808
20        LA  louisiana  2044                                         1.6808
21        LA  louisiana  2045                                         1.6808
22        LA  louisiana  2046                                         1.6808
23        LA  louisiana  2047                                         1.6808
24        LA  louisiana  2048                                         1.6808
25        LA  louisiana  2049                                         1.6808
26        LA  louisiana  2050                                         1.6808