In [4]:
# Add Parent Folder to System Path

# Add GrandParent Folder to System Path

import os
import sys
import inspect

parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)

sys.path


####

import pandas as pd
import numpy as np

#Variable name
var_name='occrate_trns_passenger_per_vehicle_water_borne'

In [5]:
#### HISTORICAL ######

## Direct calculation of the available data lead to a avrerage value of 15 passengers per vehicle
#### HISTORICAL ######
dato=15
years_hist=np.arange(2010,2024,1)
coun_year=[]
for year in years_hist:
    coun_year.append(['LA','louisiana',year,dato])
df_historical_out = pd.DataFrame(coun_year,columns=['iso_code3','Region', 'Year',var_name])
df_historical_out.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')
df_historical_out

   iso_code3     Region  Year  occrate_trns_passenger_per_vehicle_water_borne
0         LA  louisiana  2010                                              15
1         LA  louisiana  2011                                              15
2         LA  louisiana  2012                                              15
3         LA  louisiana  2013                                              15
4         LA  louisiana  2014                                              15
5         LA  louisiana  2015                                              15
6         LA  louisiana  2016                                              15
7         LA  louisiana  2017                                              15
8         LA  louisiana  2018                                              15
9         LA  louisiana  2019                                              15
10        LA  louisiana  2020                                              15
11        LA  louisiana  2021                                              15
12        LA  louisiana  2022                                              15
13        LA  louisiana  2023                                              15

In [6]:
#Variable name
#### projected ######
years_porj=np.arange(max(years_hist)+1,2051,1)
coun_year=[]

for year in years_porj:
    coun_year.append(['LA','louisiana',year,dato])
df_projected_out = pd.DataFrame(coun_year, columns=['iso_code3','Region', 'Year',var_name])
df_projected_out.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')
df_projected_out

   iso_code3     Region  Year  occrate_trns_passenger_per_vehicle_water_borne
0         LA  louisiana  2024                                              15
1         LA  louisiana  2025                                              15
2         LA  louisiana  2026                                              15
3         LA  louisiana  2027                                              15
4         LA  louisiana  2028                                              15
5         LA  louisiana  2029                                              15
6         LA  louisiana  2030                                              15
7         LA  louisiana  2031                                              15
8         LA  louisiana  2032                                              15
9         LA  louisiana  2033                                              15
10        LA  louisiana  2034                                              15
11        LA  louisiana  2035                                              15
12        LA  louisiana  2036                                              15
13        LA  louisiana  2037                                              15
14        LA  louisiana  2038                                              15
15        LA  louisiana  2039                                              15
16        LA  louisiana  2040                                              15
17        LA  louisiana  2041                                              15
18        LA  louisiana  2042                                              15
19        LA  louisiana  2043                                              15
20        LA  louisiana  2044                                              15
21        LA  louisiana  2045                                              15
22        LA  louisiana  2046                                              15
23        LA  louisiana  2047                                              15
24        LA  louisiana  2048                                              15
25        LA  louisiana  2049                                              15
26        LA  louisiana  2050                                              15